<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CosmosApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cosmos"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.dashboard.account.TicketsCancelledActivity"
            android:exported="false"
            android:label="@string/title_activity_tickets_cancelled"
            android:theme="@style/Theme.Cosmos" />
        <activity
            android:name=".ui.dashboard.membership.MembershipPaymentSuccessfulActivity"
            android:exported="false"
            android:label="@string/title_activity_membership_payment_successful"
            android:theme="@style/Theme.Cosmos" />
        <activity
            android:name=".ui.dashboard.membership.MembershipPaymentActivity"
            android:exported="false"
            android:label="@string/title_activity_membership_payment"
            android:theme="@style/Theme.Cosmos" />
        <activity
            android:name=".ui.dashboard.account.CancelBookingActivity"
            android:exported="false"
            android:label="@string/title_activity_cancel_booking"
            android:theme="@style/Theme.Cosmos" />
        <activity
            android:name=".ui.dashboard.account.MoviesWatchedActivity"
            android:exported="false"
            android:label="@string/title_activity_movies_watched"
            android:theme="@style/Theme.Cosmos" />
        <activity
            android:name=".ui.dashboard.account.MyTicketsActivity"
            android:exported="false"
            android:label="@string/title_activity_my_tickets"
            android:theme="@style/Theme.Cosmos" />
        <activity
            android:name=".ui.tickets.TicketsActivity"
            android:exported="false"
            android:label="@string/title_activity_tickets"
            android:theme="@style/Theme.Cosmos" />
        <activity
            android:name=".ui.payment.PaymentSuccessfulActivity"
            android:exported="false"
            android:label="@string/title_activity_payment_successful"
            android:theme="@style/Theme.Cosmos" />
        <activity
            android:name=".ui.payment.PaymentActivity"
            android:exported="false"
            android:label="@string/title_activity_payment"
            android:theme="@style/Theme.Cosmos" />
        <activity
            android:name=".ui.booking.BookingActivity"
            android:exported="false"
            android:label="@string/title_activity_booking"
            android:theme="@style/Theme.Cosmos" />
        <activity
            android:name=".ui.dashboard.movie.AboutMovieActivity"
            android:exported="false"
            android:label="@string/title_activity_about_movie"
            android:theme="@style/Theme.Cosmos" />
        <activity
            android:name=".ui.dashboard.theater.TheaterDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_theater_detail"
            android:theme="@style/Theme.Cosmos" />
        <activity
            android:name=".ui.dashboard.movie.MovieDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_movie_detail"
            android:theme="@style/Theme.Cosmos" />
        <activity
            android:name=".ui.auth.LocationActivity"
            android:exported="false"
            android:label="@string/title_activity_location"
            android:theme="@style/Theme.Cosmos" />
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.Cosmos" />
        <activity
            android:name=".ui.auth.SignupActivity"
            android:exported="false"
            android:label="@string/title_activity_signup"
            android:theme="@style/Theme.Cosmos" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Cosmos" />
        <activity
            android:name=".ui.auth.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.RemoveSplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>